.extra ul{
    padding: 0;
    margin-block-start: 4em;
    margin-block-end: 2em;

}
.extra li{
    display: inline;
    color:black;
    margin-right: 1vw;
}

.extra{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
