.about{
    position: fixed;
    background-color: #fff;
    color: #000;
    right: 0;
    top: 0;
    padding: 0px 3vw;
    width: 64vw;
    height: 100vw;
    transition: right 1s;
}

.about p{
    margin:2em;
}