.dashboard{
    display: flex;
    flex-direction: column;
    padding: 6vh 4vw 3vh 8vw;
    height: 100vh;
}

.dashboard .info{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 11vh;
}

.dashboard .info h6{
    margin-right: 2vw;

}

.dashboard .top {
    margin-bottom: 2vh;
}

.topic_highlight{
    border-bottom: solid 2px;
    transition: all .2s;
}

.topic_highlight_hidden{
    border-bottom: 0;
    transition: all .2s;
}

@media only screen and (max-width: 500px) {
    .dashboard{
        display: flex;
        flex-direction: column;
        height: 20vh;
        width:100vw;
        padding: 3vh;

    }

    .dashboard .top {
        margin-bottom: 1vh;
    }

    
    .dashboard h2{
        font-size:4vh;
        margin-block-end: 0;
    
    }
    
    .dashboard h5{
        font-size:3vh;
        margin-block-end: 0;
    }
    
    .dashboard .categories {
        display:none;
    }

    .dashboard .info {
        display:none;
    }
  }