.dashboard{
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw;
    height: 100vh;
}

.dashboard .info{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6vh;
}

.dashboard .info h6{
    margin-right: 2vw;

}

.dashboard .top {
    margin-bottom: 2vh;
}