.dashboard{
    display: flex;
    flex-direction: column;
    padding: 6vh 4vw 3vh 8vw;
    height: 100vh;
}

.dashboard .info{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 11vh;
}

.dashboard .info h6{
    margin-right: 2vw;

}

.dashboard .top {
    margin-bottom: 2vh;
}

.topic_highlight{
    border-bottom: solid 2px;
    transition: all .2s;
}

.topic_highlight_hidden{
    border-bottom: 0;
    transition: all .2s;
}

