.article_title{
    margin-block-start: 0em;
    margin-block-end: 1vh;
    font-size:2.1vh;
}

h4{
    margin-block-start: 0em;
    margin-block-end: .0em;
}

h5{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h6{
    margin-block-start: .5em;
    margin-block-end: 0em;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size:.8em;

}
.MuiCard-root {
    overflow: visible;
}

.displayed{
    overflow: hidden;
    max-height: 300px;
    transition: all .6s;
    padding:2em;
}

.notdisplayed{
    overflow: hidden;
    max-height: 0;
    transition: all .6s;

}

h3{
    margin-block-start:0em;
    margin-block-end : 0em;
}

.card_element{
    padding: 4vh;

}

@media only screen and (max-width: 500px) {
    .card_element{
        padding:2vh;
    }

    .article_title{
        margin-block-start: 0em;
        margin-block-end: 1vh;
        font-size:1.7vh;
    }
    
    .card_element h6{
        font-size:1.1vh;

    }

}