.analysis{
    background-color:#E3B23C;
    display:flex;
    height:80vh;
    margin-top: 20vh;
    margin-bottom: 5vh;

    overflow-x: hidden;
    margin-left: -20vw;
    margin-right: -17vw;

    left:0;
}

.analysis .text{
    margin-left: 20vw;
    margin-right: 20vw;
    width:70vw;
    color:black;
    display: flex;
    overflow:hidden;
    padding:3vw;
}
