.content{
    display:flex;
}

.content .left{

    flex: .7;
}

.content .right{
    flex: .3;
    border-left:1px solid rgba(0,0,0,.3);

}

.content li{
    list-style-type: none;
}

.left ul{
    margin-block-start:0;
    margin-block-end: 0;
    padding-inline-start: 0;

    margin: 0;
    padding:0;
}