.main_left{
    position: fixed;
    width: 310px;
    left: 0;
    height: 100vh;
    top:0;
    /* background-color: #9d79bc; */
    background-color:#861657;
    color:white
}

.main_right{
    width:75vw;
    margin-right: -3em;
    margin-top: 4vh;
}

.main_container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.optionselector{
}