.main_left{
    position: fixed;
    width: 20vw;
    left: 0;
    top:75px;
    height: 100%;
}

.main_right{
    width:77vw;
    right: 0;
}

.main_container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}