.app{
  display: flex;
  height:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,body{
  height:100%;
  font-family: "Roboto";
  font-weight: 300;
}

body{
  width:70%;
  margin:auto;
}

#root{
  height:100%;
}

